@import 'tailwindcss';
@import '@heroui/styles';

@theme {
  --font-noto:
    var(--font-noto-sans-jp), BlinkMacSystemFont, Roboto, Segoe UI, Helvetica Neue, HelveticaNeue, 游ゴシック体,
    YuGothic, 游ゴシック Medium, Yu Gothic Medium, 游ゴシック, Yu Gothic, Verdana, メイリオ, Meiryo, sans-serif;
  --font-mono: var(--font-roboto-mono);
}

@layer base {
  :root {
    --background: #ffffff;
  }

  .dark,
  [data-theme='dark'] {
    --background: #000000;
  }
}

@layer components {
  .accordion__trigger {
    @apply px-2 py-3;
  }
  .accordion__body-inner {
    @apply px-0;
  }
}
